# =========================================================
# AMBIENTE PYTHON
# =========================================================

.venv/
venv/
env/

# =========================================================
# PYTHON CACHE
# =========================================================

__pycache__/
*.py[cod]
*.pyo

# =========================================================
# BANCO DE DADOS LOCAL
# =========================================================

database/*.db
database/*.sqlite
database/*.sqlite3

# Backups locais do banco
database/*backup*.db

# =========================================================
# IDE / SISTEMA
# =========================================================

.vscode/
.idea/

# =========================================================
# SISTEMA OPERACIONAL
# =========================================================

.DS_Store
Thumbs.db